In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import similarity
import random
import meanCentered as mc
import helper.helper as hp

### PRE-PROCESSING

In [147]:
df = pd.read_csv('../DATA/TOY-DATA/toy.csv')

In [150]:
df_without_user_column = df.drop(columns=["User"])
df_without_user_column

   1  2  3  4  5  6
0  5  0  4  3  5  4
1  4  5  0  3  2  3
2  0  3  0  2  1  0
3  1  2  2  0  3  4
4  1  0  1  2  3  3

In [96]:
matrix = np.array(df_without_user_column).tolist()
matrix

[[5, 0, 4, 3, 5, 4],
 [4, 5, 0, 3, 2, 3],
 [0, 3, 0, 2, 1, 0],
 [1, 2, 2, 0, 3, 4],
 [1, 0, 1, 2, 3, 3]]

In [97]:
meanC = mc.MeanCentered(matrix,opsional=0)

In [98]:
meanC.getMeanCenteredDataFrame()

     0    1    2    3    4    5
0  0.8  0.0 -0.2 -1.2  0.8 -0.2
1  0.6  1.6  0.0 -0.4 -1.4 -0.4
2  0.0  1.0  0.0  0.0 -1.0  0.0
3 -1.4 -0.4 -0.4  0.0  0.6  1.6
4 -1.0  0.0 -1.0  0.0  1.0  1.0

### PEARSON SIMILARITY MEASURE

#### Item-based

In [99]:
similarity_pearson = similarity.Pearson(matrix,opsional="item-based",k=2)

user : 0 item : 1
1 fix
[5, 0, 4, 3, 5, 4] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [2, 0]
Neighborhood sorted : [1.0, 0.9622060458243661] mean centered : [1.6666666666666665, 2.25]
Rata-rata : 3.3333333333333335
Nume : 3.83163026977149
denom : 1.9622060458243662
3.3333333333333335 + (3.83163026977149/1.9622060458243662) result : 5.286048889339959
user : 1 item : 2
2 fix
[4, 5, 0, 3, 2, 3] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [1.0, 0.9938837346736189] mean centered : [1.6666666666666665, 0.5]
Rata-rata : 2.3333333333333335
Nume : 2.163608534003476
denom : 1.993883734673619
2.3333333333333335 + (2.163608534003476/1.993883734673619) result : 3.4184560495571255
user : 2 item : 0
0 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [3, 1]
Neighborhood sorted : [0.9738516810963534, 0.9622060458243661] mean centered : [-0.5, -0.3333333333333335]
Rata-rata : 2.75
Nume : -0.8076611891562989
denom : 1.9360577269207195
2.75 + (-0.8076611891562989/1.9360577269207195) result : 2.3328320726568026
user : 2 item : 2
2 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [1.0, 0.9938837346736189] mean centered : [-0.3333333333333335, -0.5]
Rata-rata : 2.3333333333333335
Nume : -0.8302752006701429
denom : 1.993883734673619
2.3333333333333335 + (-0.8302752006701429/1.993883734673619) result : 1.9169222927938752
user : 2 item : 5
5 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.6361416972599782, 0.33333333333333337] mean centered : [-1.7999999999999998, -0.5]
Rata-rata : 3.5
Nume : -1.3117217217346273
denom : 0.9694750305933115
3.5 + (-1.3117217217346273/0.9694750305933115) result : 2.146977301796145
user : 3 item : 3
3 fix
[1, 2, 2, 0, 3, 4] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [2, 0]
Neighborhood sorted : [0.9938837346736189, 0.9738516810963534] mean centered : [-0.3333333333333335, -1.75]
Rata-rata : 2.5
Nume : -2.0355350201431586
denom : 1.9677354157699725
2.5 + (-2.0355350201431586/1.9677354157699725) result : 1.4655443491895193
user : 4 item : 1
1 fix
[1, 0, 1, 2, 3, 3] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [2, 0]
Neighborhood sorted : [1.0, 0.9622060458243661] mean centered : [-1.3333333333333335, -1.75]
Rata-rata : 3.3333333333333335
Nume : -3.017193913525974
denom : 1.9622060458243662
3.3333333333333335 + (-3.017193913525974/1.9622060458243662) result : 1.7956793647571718

###### Mean List

In [100]:
similarity_pearson.getMeanListDataFrame()

          0
0  2.750000
1  3.333333
2  2.333333
3  2.500000
4  2.800000
5  3.500000

###### Mean Centered

In [101]:
similarity_pearson.getMeanCenteredDataFrame()

          0         1         2         3         4
0  2.250000  1.250000  0.000000 -1.750000 -1.750000
1  0.000000  1.666667 -0.333333 -1.333333  0.000000
2  1.666667  0.000000  0.000000 -0.333333 -1.333333
3  0.500000  0.500000 -0.500000  0.000000 -0.500000
4  2.200000 -0.800000 -1.800000  0.200000  0.200000
5  0.500000 -0.500000  0.000000  0.500000 -0.500000

###### Similarity

In [102]:
similarity_pearson.getSimilarityDataFrame()

,0,1,2,3,4,5
0,1.000000+0.000000j,0.962206+0.000000j,0.922654+0.000000j,0.973852+0.000000j,0.386003+0.000000j,0.140028+0.000000j
1,0.962206+0.000000j,1.000000+0.000000j,1.000000+0.000000j,0.832050+0.000000j,-0.233805+0.000000j,-0.993884+0.000000j
2,0.922654+0.000000j,1.000000+0.000000j,1.000000+0.000000j,0.993884+0.000000j,0.695653+0.000000j,0.712697+0.000000j
3,0.973852+0.000000j,0.832050+0.000000j,0.993884+0.000000j,1.000000+0.000000j,0.506803+0.000000j,0.333333+0.000000j
4,0.386003+0.000000j,-0.233805+0.000000j,0.695653+0.000000j,0.506803+0.000000j,1.000000+0.000000j,0.636142+0.000000j
5,0.140028+0.000000j,-0.993884+0.000000j,0.712697+0.000000j,0.333333+0.000000j,0.636142+0.000000j,1.000000+0.000000j

###### Prediction

In [103]:
similarity_pearson.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  5.286049  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  3.418456  3.000000  2  3.000000
2  2.332832  3.000000  1.916922  2.000000  1  2.146977
3  1.000000  2.000000  2.000000  1.465544  3  4.000000
4  1.000000  1.795679  1.000000  2.000000  3  3.000000

###### Top N

In [104]:
similarity_pearson.getTopNDataFrame()

          0         1
0  5.286049       NaN
1  3.418456       NaN
2  2.332832  2.146977
3  1.465544       NaN
4  1.795679       NaN

#### User-based

In [105]:
similarity_pearson = similarity.Pearson(matrix,opsional="user-based",k=2)

user : 0 item : 1
0 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [-0.029636948298292335, -0.33612278224367753] mean centered : [1.6, -0.3999999999999999]
Rata-rata : 4.2
Nume : 0.08702999562020325
denom : 0.36575973054196986
4.2 + (0.08702999562020325/0.36575973054196986) result : 4.4379430767056975
user : 1 item : 2
1 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [0, 3]
Neighborhood sorted : [-0.029636948298292335, -0.5873015873015872] mean centered : [-0.20000000000000018, -0.3999999999999999]
Rata-rata : 3.4
Nume : 0.2408480245802933
denom : 0.6169385355998795
3.4 + (0.2408480245802933/0.6169385355998795) result : 3.790392252521728
user : 2 item : 0
2 fix
[5.0, 4.0, 0.0, 1.0, 1.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 0]
Neighborhood sorted : [0.98058067569092, -0.5547001962252289] mean centered : [0.6000000000000001, 0.7999999999999998]
Rata-rata : 2.0
Nume : 0.14458824843436907
denom : 1.5352808719161488
2.0 + (0.14458824843436907/1.5352808719161488) result : 2.094177066280981
user : 2 item : 2
2 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [0, 3]
Neighborhood sorted : [-0.5547001962252289, -0.9805806756909201] mean centered : [-0.20000000000000018, -0.3999999999999999]
Rata-rata : 2.0
Nume : 0.5031723095214139
denom : 1.535280871916149
2.0 + (0.5031723095214139/1.535280871916149) result : 2.327739580897283
user : 2 item : 5
2 fix
[4.0, 3.0, 0.0, 4.0, 3.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 0]
Neighborhood sorted : [0.98058067569092, -0.5547001962252289] mean centered : [-0.3999999999999999, -0.20000000000000018]
Rata-rata : 2.0
Nume : -0.28129223103132206
denom : 1.5352808719161488
2.0 + (-0.28129223103132206/1.5352808719161488) result : 1.8167812573081512
user : 3 item : 3
3 fix
[3.0, 3.0, 2.0, 0.0, 2.0] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [4, 0]
Neighborhood sorted : [0.8908708063747479, -0.33612278224367753] mean centered : [0.0, -1.2000000000000002]
Rata-rata : 2.4
Nume : 0.40334733869241307
denom : 1.2269935886184253
2.4 + (0.40334733869241307/1.2269935886184253) result : 2.728728155088875
user : 4 item : 1
4 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [3, 1]
Neighborhood sorted : [0.8908708063747479, -0.8528028654224419] mean centered : [-0.3999999999999999, 1.6]
Rata-rata : 2.0
Nume : -1.7208329072258062
denom : 1.7436736717971897
2.0 + (-1.7208329072258062/1.7436736717971897) result : 1.0130992197340696

###### Mean Centered

In [106]:
similarity_pearson.getMeanCenteredDataFrame()

     0    1    2    3    4    5
0  0.8  0.0 -0.2 -1.2  0.8 -0.2
1  0.6  1.6  0.0 -0.4 -1.4 -0.4
2  0.0  1.0  0.0  0.0 -1.0  0.0
3 -1.4 -0.4 -0.4  0.0  0.6  1.6
4 -1.0  0.0 -1.0  0.0  1.0  1.0

###### Mean List

In [107]:
similarity_pearson.getMeanListDataFrame()

     0
0  4.2
1  3.4
2  2.0
3  2.4
4  2.0

###### Similarity

In [108]:
similarity_pearson.getSimilarityDataFrame()

,0,1,2,3,4
0,1.000000+0.000000j,-0.029637+0.000000j,-0.554700+0.000000j,-0.336123+0.000000j,0.000000+0.000000j
1,-0.029637+0.000000j,1.000000+0.000000j,0.980581+0.000000j,-0.587302+0.000000j,-0.852803+0.000000j
2,-0.554700+0.000000j,0.980581+0.000000j,1.000000+0.000000j,-0.980581+0.000000j,-1.000000+0.000000j
3,-0.336123+0.000000j,-0.587302+0.000000j,-0.980581+0.000000j,1.000000+0.000000j,0.890871+0.000000j
4,0.000000+0.000000j,-0.852803+0.000000j,-1.000000+0.000000j,0.890871+0.000000j,1.000000+0.000000j

###### Prediction

In [109]:
similarity_pearson.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  4.437943  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  3.790392  3.000000  2  3.000000
2  2.094177  3.000000  2.327740  2.000000  1  1.816781
3  1.000000  2.000000  2.000000  2.728728  3  4.000000
4  1.000000  1.013099  1.000000  2.000000  3  3.000000

###### Top N

In [110]:
similarity_pearson.getTopNDataFrame()

          0         1
0  4.437943       NaN
1  3.790392       NaN
2  2.327740  2.094177
3  2.728728       NaN
4  1.013099       NaN

### COSINE SIMILARITY MEASURE

##### Item-based

In [111]:
similarity_cosine = similarity.Cosine(matrix,opsional="item-based",k=2)

user : 0 item : 1
1 fix
[5, 0, 4, 3, 5, 4] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [3, 0]
Neighborhood sorted : [0.6680990011245668, 0.5442477655948228] mean centered : [0.5, 2.25]
Rata-rata : 3.3333333333333335
Nume : 1.5586069731506347
denom : 1.2123467667193895
3.3333333333333335 + (1.5586069731506347/1.2123467667193895) result : 4.618944856320462
user : 1 item : 2
2 fix
[4, 5, 0, 3, 2, 3] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [4, 5]
Neighborhood sorted : [0.9134141431056325, 0.8332380897952963] mean centered : [-0.7999999999999998, -0.5]
Rata-rata : 2.3333333333333335
Nume : -1.1473503593821541
denom : 1.7466522329009289
2.3333333333333335 + (-1.1473503593821541/1.7466522329009289) result : 1.676447928345429
user : 2 item : 0
0 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [3, 4]
Neighborhood sorted : [0.8673154766041398, 0.8584396336674833] mean centered : [-0.5, -1.7999999999999998]
Rata-rata : 2.75
Nume : -1.9788490789035398
denom : 1.725755110271623
2.75 + (-1.9788490789035398/1.725755110271623) result : 1.6033430571200329
user : 2 item : 2
2 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.9134141431056325, 0.5991446895152781] mean centered : [-1.7999999999999998, -0.5]
Rata-rata : 2.3333333333333335
Nume : -1.9437178023477775
denom : 1.5125588326209107
2.3333333333333335 + (-1.9437178023477775/1.5125588326209107) result : 1.0482806395615685
user : 2 item : 5
5 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.9593834825900781, 0.7488452649040593] mean centered : [-1.7999999999999998, -0.5]
Rata-rata : 3.5
Nume : -2.10131290111417
denom : 1.7082287474941373
3.5 + (-2.10131290111417/1.7082287474941373) result : 2.2698878711667496
user : 3 item : 3
3 fix
[1, 2, 2, 0, 3, 4] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [0, 4]
Neighborhood sorted : [0.8673154766041398, 0.820900849754832] mean centered : [-1.75, 0.20000000000000018]
Rata-rata : 2.5
Nume : -1.353621914106278
denom : 1.6882163263589718
2.5 + (-1.353621914106278/1.6882163263589718) result : 1.6981940388968537
user : 4 item : 1
1 fix
[1, 0, 1, 2, 3, 3] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [3, 0]
Neighborhood sorted : [0.6680990011245668, 0.5442477655948228] mean centered : [-0.5, -1.75]
Rata-rata : 3.3333333333333335
Nume : -1.2864830903532234
denom : 1.2123467667193895
3.3333333333333335 + (-1.2864830903532234/1.2123467667193895) result : 2.272182245485385

###### Mean List

In [112]:
similarity_cosine.getMeanListDataFrame()

          0
0  2.750000
1  3.333333
2  2.333333
3  2.500000
4  2.800000
5  3.500000

###### Mean Centered

In [113]:
similarity_cosine.getMeanCenteredDataFrame()

          0         1         2         3         4
0  2.250000  1.250000  0.000000 -1.750000 -1.750000
1  0.000000  1.666667 -0.333333 -1.333333  0.000000
2  1.666667  0.000000  0.000000 -0.333333 -1.333333
3  0.500000  0.500000 -0.500000  0.000000 -0.500000
4  2.200000 -0.800000 -1.800000  0.200000  0.200000
5  0.500000 -0.500000  0.000000  0.500000 -0.500000

###### Similarity

In [114]:
similarity_cosine.getSimilarityDataFrame()

,0,1,2,3,4,5
0,1.000000+0.000000j,0.544248+0.000000j,0.765392+0.000000j,0.867315+0.000000j,0.858440+0.000000j,0.841096+0.000000j
1,0.544248+0.000000j,1.000000+0.000000j,0.141598+0.000000j,0.668099+0.000000j,0.444878+0.000000j,0.527656+0.000000j
2,0.765392+0.000000j,0.141598+0.000000j,1.000000+0.000000j,0.599145+0.000000j,0.913414+0.000000j,0.833238+0.000000j
3,0.867315+0.000000j,0.668099+0.000000j,0.599145+0.000000j,1.000000+0.000000j,0.820901+0.000000j,0.748845+0.000000j
4,0.858440+0.000000j,0.444878+0.000000j,0.913414+0.000000j,0.820901+0.000000j,1.000000+0.000000j,0.959383+0.000000j
5,0.841096+0.000000j,0.527656+0.000000j,0.833238+0.000000j,0.748845+0.000000j,0.959383+0.000000j,1.000000+0.000000j

###### Prediction

In [115]:
similarity_cosine.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  4.618945  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  1.676448  3.000000  2  3.000000
2  1.603343  3.000000  1.048281  2.000000  1  2.269888
3  1.000000  2.000000  2.000000  1.698194  3  4.000000
4  1.000000  2.272182  1.000000  2.000000  3  3.000000

###### Top N

In [116]:
similarity_cosine.getTopNDataFrame()

          0         1
0  4.618945       NaN
1  1.676448       NaN
2  2.269888  1.603343
3  1.698194       NaN
4  2.272182       NaN

##### User-based

In [117]:
similarity_cosine = similarity.Cosine(matrix,opsional="user-based",k=2)

user : 0 item : 1
0 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [3, 1]
Neighborhood sorted : [0.7910292118262815, 0.6735645239877782] mean centered : [-0.3999999999999999, 1.6]
Rata-rata : 4.2
Nume : 0.7612915536499327
denom : 1.4645937358140597
4.2 + (0.7612915536499327/1.4645937358140597) result : 4.719797084361273
user : 1 item : 2
1 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [3, 0]
Neighborhood sorted : [0.6914173051223086, 0.6735645239877782] mean centered : [-0.3999999999999999, -0.20000000000000018]
Rata-rata : 3.4
Nume : -0.4112798268464791
denom : 1.3649818291100868
3.4 + (-0.4112798268464791/1.3649818291100868) result : 3.0986920865352348
user : 2 item : 0
2 fix
[5.0, 4.0, 0.0, 1.0, 1.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.7744502841566948, 0.412514323662695] mean centered : [0.6000000000000001, -1.4]
Rata-rata : 2.0
Nume : -0.11284988263375606
denom : 1.1869646078193898
2.0 + (-0.11284988263375606/1.1869646078193898) result : 1.90492565499398
user : 2 item : 2
2 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [3, 4]
Neighborhood sorted : [0.412514323662695, 0.3818813079129867] mean centered : [-0.3999999999999999, -1.0]
Rata-rata : 2.0
Nume : -0.5468870373780647
denom : 0.7943956315756817
2.0 + (-0.5468870373780647/0.7943956315756817) result : 1.311568423037126
user : 2 item : 5
2 fix
[4.0, 3.0, 0.0, 4.0, 3.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.7744502841566948, 0.412514323662695] mean centered : [-0.3999999999999999, 1.6]
Rata-rata : 2.0
Nume : 0.3502428041976342
denom : 1.1869646078193898
2.0 + (0.3502428041976342/1.1869646078193898) result : 2.2950743450060203
user : 3 item : 3
3 fix
[3.0, 3.0, 2.0, 0.0, 2.0] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [4, 0]
Neighborhood sorted : [0.840168050416806, 0.7910292118262815] mean centered : [0.0, -1.2000000000000002]
Rata-rata : 2.4
Nume : -0.949235054191538
denom : 1.6311972622430875
2.4 + (-0.949235054191538/1.6311972622430875) result : 1.8180746399204786
user : 4 item : 1
4 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [3, 1]
Neighborhood sorted : [0.840168050416806, 0.6429306248420497] mean centered : [-0.3999999999999999, 1.6]
Rata-rata : 2.0
Nume : 0.6926217795805572
denom : 1.4830986752588555
2.0 + (0.6926217795805572/1.4830986752588555) result : 2.467009910490055

###### Mean List

In [118]:
similarity_cosine.getMeanListDataFrame()

     0
0  4.2
1  3.4
2  2.0
3  2.4
4  2.0

###### Mean Centered

In [119]:
similarity_cosine.getMeanCenteredDataFrame()

     0    1    2    3    4    5
0  0.8  0.0 -0.2 -1.2  0.8 -0.2
1  0.6  1.6  0.0 -0.4 -1.4 -0.4
2  0.0  1.0  0.0  0.0 -1.0  0.0
3 -1.4 -0.4 -0.4  0.0  0.6  1.6
4 -1.0  0.0 -1.0  0.0  1.0  1.0

###### Similarity

In [120]:
similarity_cosine.getSimilarityDataFrame()

,0,1,2,3,4
0,1.000000+0.000000j,0.673565+0.000000j,0.308182+0.000000j,0.791029+0.000000j,0.898717+0.000000j
1,0.673565+0.000000j,1.000000+0.000000j,0.774450+0.000000j,0.691417+0.000000j,0.642931+0.000000j
2,0.308182+0.000000j,0.774450+0.000000j,1.000000+0.000000j,0.412514+0.000000j,0.381881+0.000000j
3,0.791029+0.000000j,0.691417+0.000000j,0.412514+0.000000j,1.000000+0.000000j,0.840168+0.000000j
4,0.898717+0.000000j,0.642931+0.000000j,0.381881+0.000000j,0.840168+0.000000j,1.000000+0.000000j

###### Prediction

In [121]:
similarity_cosine.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  4.719797  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  3.098692  3.000000  2  3.000000
2  1.904926  3.000000  1.311568  2.000000  1  2.295074
3  1.000000  2.000000  2.000000  1.818075  3  4.000000
4  1.000000  2.467010  1.000000  2.000000  3  3.000000

###### Top N

In [122]:
similarity_cosine.getTopNDataFrame()

          0         1
0  4.719797       NaN
1  3.098692       NaN
2  2.295074  1.904926
3  1.818075       NaN
4  2.467010       NaN

### ADJUSTED COSINE SIMILARITY MEASURE

##### Item-based

##### User-based

In [123]:
similarity_a_cosine = similarity.ACosine(matrix,opsional="user-based",k=2)

user : 0 item : 1
0 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.19850451577276546, -0.5682823663314001] mean centered : [1.6, -0.3999999999999999]
Rata-rata : 4.2
Nume : 0.5449201717689848
denom : 0.7667868821041655
4.2 + (0.5449201717689848/0.7667868821041655) result : 4.91065400893877
user : 1 item : 2
1 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [0, 4]
Neighborhood sorted : [0.19850451577276546, -0.7523514371148738] mean centered : [-0.20000000000000018, -1.0]
Rata-rata : 3.4
Nume : 0.7126505339603207
denom : 0.9508559528876392
3.4 + (0.7126505339603207/0.9508559528876392) result : 4.149483170185856
user : 2 item : 0
2 fix
[5.0, 4.0, 0.0, 1.0, 1.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.17457169574701567, 0.03421419088362375] mean centered : [0.6000000000000001, -1.4]
Rata-rata : 2.0
Nume : 0.05684315021113617
denom : 0.2087858866306394
2.0 + (0.05684315021113617/0.2087858866306394) result : 2.272255711956703
user : 2 item : 2
2 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [3, 4]
Neighborhood sorted : [0.03421419088362375, -0.10934047915289787] mean centered : [-0.3999999999999999, -1.0]
Rata-rata : 2.0
Nume : 0.09565480279944837
denom : 0.14355467003652161
2.0 + (0.09565480279944837/0.14355467003652161) result : 2.666330135934365
user : 2 item : 5
2 fix
[4.0, 3.0, 0.0, 4.0, 3.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.17457169574701567, 0.03421419088362375] mean centered : [-0.3999999999999999, 1.6]
Rata-rata : 2.0
Nume : -0.01508597288500825
denom : 0.2087858866306394
2.0 + (-0.01508597288500825/0.2087858866306394) result : 1.9277442880432973
user : 3 item : 3
3 fix
[3.0, 3.0, 2.0, 0.0, 2.0] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [4, 2]
Neighborhood sorted : [0.7821258261464551, 0.03421419088362375] mean centered : [0.0, 0.0]
Rata-rata : 2.4
Nume : 0.0
denom : 0.8163400170300789
2.4 + (0.0/0.8163400170300789) result : 2.4
user : 4 item : 1
4 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [3, 2]
Neighborhood sorted : [0.7821258261464551, -0.10934047915289787] mean centered : [-0.3999999999999999, 1.0]
Rata-rata : 2.0
Nume : -0.4221908096114798
denom : 0.891466305299353
2.0 + (-0.4221908096114798/0.891466305299353) result : 1.5264085618247694

###### Mean Centered

In [124]:
similarity_a_cosine.getMeanCenteredDataFrame()

          0         1         2         3         4
0  2.250000  1.250000  0.000000 -1.750000 -1.750000
1  0.000000  1.666667 -0.333333 -1.333333  0.000000
2  1.666667  0.000000  0.000000 -0.333333 -1.333333
3  0.500000  0.500000 -0.500000  0.000000 -0.500000
4  2.200000 -0.800000 -1.800000  0.200000  0.200000
5  0.500000 -0.500000  0.000000  0.500000 -0.500000

###### Mean List

In [125]:
similarity_a_cosine.getMeanListDataFrame()

          0
0  2.750000
1  3.333333
2  2.333333
3  2.500000
4  2.800000
5  3.500000

###### Similarity

In [126]:
similarity_a_cosine.getSimilarityDataFrame()

          0         1         2         3         4
0  1.000000  0.198505 -0.998873 -0.568282 -0.738595
1  0.198505  1.000000  0.174572 -0.930442 -0.752351
2 -0.998873  0.174572  1.000000  0.034214 -0.109340
3 -0.568282 -0.930442  0.034214  1.000000  0.782126
4 -0.738595 -0.752351 -0.109340  0.782126  1.000000

###### Prediction

In [127]:
similarity_a_cosine.getPredictionDataFrame()

          0         1         2    3  4         5
0  5.000000  4.910654  4.000000  3.0  5  4.000000
1  4.000000  5.000000  4.149483  3.0  2  3.000000
2  2.272256  3.000000  2.666330  2.0  1  1.927744
3  1.000000  2.000000  2.000000  2.4  3  4.000000
4  1.000000  1.526409  1.000000  2.0  3  3.000000

###### Top N

In [128]:
similarity_a_cosine.getTopNDataFrame()

          0         1
0  4.910654       NaN
1  4.149483       NaN
2  2.666330  2.272256
3  2.400000       NaN
4  1.526409       NaN

In [129]:
similarity_a_cosine = similarity.ACosine(matrix,opsional="item-based",k=2)

user : 0 item : 1
1 fix
[5, 0, 4, 3, 5, 4] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [2, 0]
Neighborhood sorted : [1.0, 0.6050832675335579] mean centered : [1.6666666666666665, 2.25]
Rata-rata : 3.3333333333333335
Nume : 3.0281040186171717
denom : 1.605083267533558
3.3333333333333335 + (3.0281040186171717/1.605083267533558) result : 5.219904628335549
user : 1 item : 2
2 fix
[4, 5, 0, 3, 2, 3] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [1, 0]
Neighborhood sorted : [1.0, 0.6735753140545633] mean centered : [1.6666666666666665, 1.25]
Rata-rata : 2.3333333333333335
Nume : 2.5086358092348706
denom : 1.6735753140545633
2.3333333333333335 + (2.5086358092348706/1.6735753140545633) result : 3.832301314139175
user : 2 item : 0
0 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [1, 4]
Neighborhood sorted : [0.6050832675335579, -0.5151515151515154] mean centered : [-0.3333333333333335, -1.7999999999999998]
Rata-rata : 2.75
Nume : 0.7255783047615415
denom : 1.1202347826850731
2.75 + (0.7255783047615415/1.1202347826850731) result : 3.3977019960248103
user : 2 item : 2
2 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [1.0, 0.19611613513818418] mean centered : [-0.3333333333333335, -0.5]
Rata-rata : 2.3333333333333335
Nume : -0.43139140090242556
denom : 1.1961161351381842
2.3333333333333335 + (-0.43139140090242556/1.1961161351381842) result : 1.9726732032427148
user : 2 item : 5
5 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.6116042400116041, 0.288675134594813] mean centered : [-1.7999999999999998, -0.5]
Rata-rata : 3.5
Nume : -1.2452251993182937
denom : 0.900279374606417
3.5 + (-1.2452251993182937/0.900279374606417) result : 2.1168457987136717
user : 3 item : 3
3 fix
[1, 2, 2, 0, 3, 4] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [5, 2]
Neighborhood sorted : [0.288675134594813, 0.19611613513818418] mean centered : [0.5, -0.3333333333333335]
Rata-rata : 2.5
Nume : 0.07896552225134507
denom : 0.48479126973299713
2.5 + (0.07896552225134507/0.48479126973299713) result : 2.6628856111514465
user : 4 item : 1
1 fix
[1, 0, 1, 2, 3, 3] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [2, 0]
Neighborhood sorted : [1.0, 0.6050832675335579] mean centered : [-1.3333333333333335, -1.75]
Rata-rata : 3.3333333333333335
Nume : -2.39222905151706
denom : 1.605083267533558
3.3333333333333335 + (-2.39222905151706/1.605083267533558) result : 1.842925265474608

###### Mean Centered

In [130]:
similarity_a_cosine.getMeanCenteredDataFrame()

     0    1    2    3    4
0  0.8  0.6  0.0 -1.4 -1.0
1  0.0  1.6  1.0 -0.4  0.0
2 -0.2  0.0  0.0 -0.4 -1.0
3 -1.2 -0.4  0.0  0.0  0.0
4  0.8 -1.4 -1.0  0.6  1.0
5 -0.2 -0.4  0.0  1.6  1.0

###### Mean List

In [131]:
similarity_a_cosine.getMeanListDataFrame()

     0
0  4.2
1  3.4
2  2.0
3  2.4
4  2.0

###### Similarity

In [132]:
similarity_a_cosine.getSimilarityDataFrame()

          0         1         2         3         4         5
0  1.000000  0.605083  0.673575 -0.670820 -0.515152 -0.943322
1  0.605083  1.000000  1.000000 -0.847998 -0.990236 -0.470588
2  0.673575  1.000000  1.000000  0.196116 -0.903696 -0.769800
3 -0.670820 -0.847998  0.196116  1.000000 -0.147442  0.288675
4 -0.515152 -0.990236 -0.903696 -0.147442  1.000000  0.611604
5 -0.943322 -0.470588 -0.769800  0.288675  0.611604  1.000000

###### Prediction

In [133]:
similarity_a_cosine.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  5.219905  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  3.832301  3.000000  2  3.000000
2  3.397702  3.000000  1.972673  2.000000  1  2.116846
3  1.000000  2.000000  2.000000  2.662886  3  4.000000
4  1.000000  1.842925  1.000000  2.000000  3  3.000000

###### Top N

In [134]:
similarity_a_cosine.getTopNDataFrame()

          0         1
0  5.219905       NaN
1  3.832301       NaN
2  3.397702  2.116846
3  2.662886       NaN
4  1.842925       NaN

## BC SIMILARITY MEASRURE

##### User-based

In [135]:
similarity_bc = similarity.BC(matrix,opsional="user-based",k=2)

user : 0 item : 1
0 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [1, 3]
Neighborhood sorted : [0.8485281374238571, 0.4828427124746191] mean centered : [1.6, -0.3999999999999999]
Rata-rata : 4.2
Nume : 1.164507934888324
denom : 1.3313708498984762
4.2 + (1.164507934888324/1.3313708498984762) result : 5.074668342766498
user : 1 item : 2
1 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [0, 3]
Neighborhood sorted : [0.8485281374238571, 0.7656854249492382] mean centered : [-0.20000000000000018, -0.3999999999999999]
Rata-rata : 3.4
Nume : -0.4759797974644668
denom : 1.6142135623730953
3.4 + (-0.4759797974644668/1.6142135623730953) result : 3.1051320788280843
user : 2 item : 0
2 fix
[5.0, 4.0, 0.0, 1.0, 1.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.9884956330873825, 0.8815461511644329] mean centered : [-1.0, -1.4]
Rata-rata : 2.0
Nume : -2.2226602447175887
denom : 1.8700417842518156
2.0 + (-2.2226602447175887/1.8700417842518156) result : 0.8114381916835873
user : 2 item : 2
2 fix
[4.0, 0.0, 0.0, 2.0, 1.0] data dicek
[1, 2] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.9884956330873825, 0.8815461511644329] mean centered : [-1.0, -0.3999999999999999]
Rata-rata : 2.0
Nume : -1.3411140935531556
denom : 1.8700417842518156
2.0 + (-1.3411140935531556/1.8700417842518156) result : 1.2828427124746191
user : 2 item : 5
2 fix
[4.0, 3.0, 0.0, 4.0, 3.0] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.9884956330873825, 0.8815461511644329] mean centered : [1.0, 1.6]
Rata-rata : 2.0
Nume : 2.398969474950475
denom : 1.8700417842518156
2.0 + (2.398969474950475/1.8700417842518156) result : 3.282842712474619
user : 3 item : 3
3 fix
[3.0, 3.0, 2.0, 0.0, 2.0] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [2, 4]
Neighborhood sorted : [0.8815461511644329, 0.8485281374238571] mean centered : [0.0, 0.0]
Rata-rata : 2.4
Nume : 0.0
denom : 1.73007428858829
2.4 + (0.0/1.73007428858829) result : 2.4
user : 4 item : 1
4 fix
[0.0, 5.0, 3.0, 2.0, 0.0] data dicek
[0, 4] fix-zero
Index Terurut berdasarkan similaritas : [2, 3]
Neighborhood sorted : [0.9884956330873825, 0.8485281374238571] mean centered : [1.0, -0.3999999999999999]
Rata-rata : 2.0
Nume : 0.6490843781178397
denom : 1.8370237705112396
2.0 + (0.6490843781178397/1.8370237705112396) result : 2.353334773636163

###### Mean Centered

In [136]:
similarity_bc.getMeanCenteredDataFrame()

     0    1    2    3    4    5
0  0.8  0.0 -0.2 -1.2  0.8 -0.2
1  0.6  1.6  0.0 -0.4 -1.4 -0.4
2  0.0  1.0  0.0  0.0 -1.0  0.0
3 -1.4 -0.4 -0.4  0.0  0.6  1.6
4 -1.0  0.0 -1.0  0.0  1.0  1.0

###### Mean List

In [137]:
similarity_bc.getMeanListDataFrame()

     0
0  4.2
1  3.4
2  2.0
3  2.4
4  2.0

###### Similarity

In [138]:
similarity_bc.getSimilarityDataFrame()

          0         1         2         3         4
0  1.000000  0.848528  0.258199  0.482843  0.282843
1  0.848528  1.000000  0.623347  0.765685  0.600000
2  0.258199  0.623347  1.000000  0.881546  0.988496
3  0.482843  0.765685  0.881546  1.000000  0.848528
4  0.282843  0.600000  0.988496  0.848528  1.000000

###### Prediction

In [139]:
similarity_bc.getPredictionDataFrame()

          0         1         2    3  4         5
0  5.000000  5.074668  4.000000  3.0  5  4.000000
1  4.000000  5.000000  3.105132  3.0  2  3.000000
2  0.811438  3.000000  1.282843  2.0  1  3.282843
3  1.000000  2.000000  2.000000  2.4  3  4.000000
4  1.000000  2.353335  1.000000  2.0  3  3.000000

###### Top N

In [140]:
similarity_bc.getTopNDataFrame()

          0         1
0  5.074668       NaN
1  3.105132       NaN
2  3.282843  1.282843
3  2.400000       NaN
4  2.353335       NaN

##### Item-based

In [141]:
similarity_bc = similarity.BC(matrix,opsional="item-based",k=2)

user : 0 item : 1
1 fix
[5, 0, 4, 3, 5, 4] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.8815461511644329, 0.816496580927726] mean centered : [2.2, 0.5]
Rata-rata : 3.3333333333333335
Nume : 2.3476498230256158
denom : 1.698042732092159
3.3333333333333335 + (2.3476498230256158/1.698042732092159) result : 4.715895608508279
user : 1 item : 2
2 fix
[4, 5, 0, 3, 2, 3] data dicek
[2] fix-zero
Index Terurut berdasarkan similaritas : [0, 4]
Neighborhood sorted : [0.6969234250586759, 0.5163977794943222] mean centered : [1.25, -0.7999999999999998]
Rata-rata : 2.3333333333333335
Nume : 0.45803605772788714
denom : 1.2133212045529982
2.3333333333333335 + (0.45803605772788714/1.2133212045529982) result : 2.71083935235707
user : 2 item : 0
0 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 1]
Neighborhood sorted : [0.5398345637668169, 0.28867513459481287] mean centered : [-1.7999999999999998, -0.3333333333333335]
Rata-rata : 2.75
Nume : -1.067927259645208
denom : 0.8285096983616298
2.75 + (-1.067927259645208/0.8285096983616298) result : 1.461026241748257
user : 2 item : 2
2 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.5163977794943222, 0.408248290463863] mean centered : [-1.7999999999999998, -0.5]
Rata-rata : 2.3333333333333335
Nume : -1.1336401483217113
denom : 0.9246460699581852
2.3333333333333335 + (-1.1336401483217113/0.9246460699581852) result : 1.1073073054792624
user : 2 item : 5
5 fix
[0, 3, 0, 2, 1, 0] data dicek
[0, 2, 5] fix-zero
Index Terurut berdasarkan similaritas : [3, 4]
Neighborhood sorted : [0.5, 0.4472135954999579] mean centered : [-0.5, -1.7999999999999998]
Rata-rata : 3.5
Nume : -1.0549844718999242
denom : 0.9472135954999579
3.5 + (-1.0549844718999242/0.9472135954999579) result : 2.3862232585005465
user : 3 item : 3
3 fix
[1, 2, 2, 0, 3, 4] data dicek
[3] fix-zero
Index Terurut berdasarkan similaritas : [1, 4]
Neighborhood sorted : [0.816496580927726, 0.7634413615167959] mean centered : [-1.3333333333333335, 0.20000000000000018]
Rata-rata : 2.5
Nume : -0.9359738356002756
denom : 1.579937942444522
2.5 + (-0.9359738356002756/1.579937942444522) result : 1.907588228337556
user : 4 item : 1
1 fix
[1, 0, 1, 2, 3, 3] data dicek
[1] fix-zero
Index Terurut berdasarkan similaritas : [4, 3]
Neighborhood sorted : [0.8815461511644329, 0.816496580927726] mean centered : [0.20000000000000018, -0.5]
Rata-rata : 3.3333333333333335
Nume : -0.23193906023097627
denom : 1.698042732092159
3.3333333333333335 + (-0.23193906023097627/1.698042732092159) result : 3.196741328993605

###### Mean Centered

In [142]:
similarity_bc.getMeanCenteredDataFrame()

          0         1         2         3         4
0  2.250000  1.250000  0.000000 -1.750000 -1.750000
1  0.000000  1.666667 -0.333333 -1.333333  0.000000
2  1.666667  0.000000  0.000000 -0.333333 -1.333333
3  0.500000  0.500000 -0.500000  0.000000 -0.500000
4  2.200000 -0.800000 -1.800000  0.200000  0.200000
5  0.500000 -0.500000  0.000000  0.500000 -0.500000

###### Mean List

In [143]:
similarity_bc.getMeanListDataFrame()

          0
0  2.750000
1  3.333333
2  2.333333
3  2.500000
4  2.800000
5  3.500000

###### Similarity

In [144]:
similarity_bc.getSimilarityDataFrame()

          0         1         2         3         4         5
0  1.000000  0.288675  0.696923  0.000000  0.539835  0.353553
1  0.288675  1.000000  0.333333  0.816497  0.881546  0.408248
2  0.696923  0.333333  1.000000  0.408248  0.516398  0.408248
3  0.000000  0.816497  0.408248  1.000000  0.763441  0.500000
4  0.539835  0.881546  0.516398  0.763441  1.000000  0.447214
5  0.353553  0.408248  0.408248  0.500000  0.447214  1.000000

###### Prediction

In [145]:
similarity_bc.getPredictionDataFrame()

          0         1         2         3  4         5
0  5.000000  4.715896  4.000000  3.000000  5  4.000000
1  4.000000  5.000000  2.710839  3.000000  2  3.000000
2  1.461026  3.000000  1.107307  2.000000  1  2.386223
3  1.000000  2.000000  2.000000  1.907588  3  4.000000
4  1.000000  3.196741  1.000000  2.000000  3  3.000000

###### Top N

In [146]:
similarity_bc.getTopNDataFrame()

          0         1
0  4.715896       NaN
1  2.710839       NaN
2  2.386223  1.461026
3  1.907588       NaN
4  3.196741       NaN